<h1>顧客情報</h1>
<%= link_to "注文履歴一覧", public_orders_path %>
<table class = "table table-hover">
  <thead>
    <tr>
      <th>
        性
      </th>
      <th>
        名
      </th>
      <th>
        性カナ
      </th>
      <th>
        名カナ
      </th>
      <th>
        郵便番号
      </th>
      <th>
        住所
      </th>
      <th>
        携帯番号
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
     <td>
        <%= @customer.last_name %>
     </td>
     <td>
        <%= @customer.first_name %>
     </td>
     <td>
        <%= @customer.last_name_kana %>
     </td>
     <td>
        <%= @customer.first_name_kana %>
     </td>
     <td>
        <%= @customer.postal_code %>
     </td>
     <td>
        <%= @customer.address %>
     </td>
     <td>
        <%= @customer.telephone_number %>
     </td>
    </tr>
  </tbody>
</table>
