<h1>顧客情報一覧</h1>
<table class = "table table-hover table-inverse">
  <thead>
    <tr>
      <th>名前</th>
      <th>郵便番号</th>
      <th>住所</th>
      <th>携帯番号</th>
    </tr>
  </thead>
  <tbody>
   <% @customers.each do |f| %>
    <tr>
      <td>
        <div class = "d-flex align-items-center justify-content-center">
          <%= link_to admin_customer_path(f) do %>
            <%= f.last_name  %>
            <%= f.first_name %>
          <% end %>
        </div>
      </td>

      <td>
        <div class = "d-flex align-items-center justify-content-center">
          <%= f.postal_code %>
        </div>
      </td>
      <td>
        <div class = "d-flex align-items-center justify-content-center">
          <%= f.address %>
        </div>
      </td>
      <td>
        <div class = "d-flex align-items-center justify-content-center">
          <%= f.telephone_number %>
        </div>
      </td>
    </tr>
   <% end %>
  </tbody>
</table>
