<h1>顧客詳細情報</h1>
<table class = "table table-hover">
  <thead>
    <tr>
      <th>性</th>
      <th>名</th>
      <th>性カナ</th>
      <th>名カナ</th>
      <th>郵便番号</th>
      <th>住所</th>
      <th>携帯番号</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <div class = "d-flex align-items-center justify-content-center">
        <%= @customer.last_name %>
      </div>
    </tr>
    <tr>
      <div class = "d-flex align-items-center justify-content-center">
        <%= @customer.first_name %>
      </div>
    </tr>
    <tr>
      <div class = "d-flex align-items-center justify-content-center">
        <%= @customer.last_name_kana %>
      </div>
    </tr>
    <tr>
      <div class = "d-flex align-items-center justify-content-center">
        <%= @customer.first_name_kana %>
      </div>
    </tr>
    <tr>
      <div class = "d-flex align-items-center justify-content-center">
        <%= @customer.postal_code %>
      </div>
    </tr>
    <tr>
      <div class = "d-flex align-items-center justify-content-center">
        <%= @customer.address %>
      </div>
    </tr>
    <tr>
      <div class = "d-flex align-items-center justify-content-center">
        <%= @customer.telephone_number %>
      </div>
    </tr>
  </tbody>
</table>
