<h1>商品詳細ページ</h1>

            <table class = "table table-hover">
              <thead>
                  <tr>
                      <th>商品画像</th>
                      <th>商品名</th>
                      <th>紹介文</th>
                      <th>価格</th>
                  </tr>
              </thead>
              <tbody>
                    <tr>
                        <td>
                          <% if @item.image.attached? %>
                            <%= image_tag @item.image, size: "200x200" %>
                          <% else %>
                            <%= image_tag 'no_image', size: "200x200" %>
                          <% end %>
                        </td>
                        <td>
                          <div class = "d-flex align-items-center justify-content-center">
                            <%= @item.name %>
                          </div>
                        </td>
                        <td>
                          <div class = "d-flex align-items-center justify-content-center">
                            <%= @item.introduction %>
                          </div>
                        </td>
                        <td>
                          <div class = "d-flex align-items-center justify-content-center">
                            <%= @item.price %>
                          </div>
                        </td>
                    </tr>
              </tbody>
            </table>

              <%= form_with model: @cart_item, url: public_cart_items_path, method: :post do |f| %>
                <%= f.label :amount, "個数選択" %>
                  <%= f.select :amount, [1,2,3,4,5,6,7,8,9,10] %>
                <%= f.hidden_field :item_id, :value => @item.id %>
                <%= f.submit "カートに入れる" %>
              <% end %>



